* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
}
.bot{
    color: rgb(1, 255, 1) !important;
}
.input-msg{
    background-color:  #222121;;
    padding-bottom: 5px;
    padding-right: 10px !important;
    padding-left: 10px;
    align-items: center;
    display: flex;
    height: 40px;
    width: 100%;
    bottom: 0;
    position: fixed;
}
.input-msg ion-icon{
    margin-right: 10px;
    margin: 5px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}
.input-msg input{
    border: none;
    border-radius: 30px;
    height: 100%;
    outline: none;
    font-size: 13pt;
    text-indent: 15px;
    margin-bottom: 5px;
    width: 100%;
}
.title{
    font-size: 15pt;
}
.button-edit{
    margin-right: 20px;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: white;
}
.header{
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    display: flex;
    width: 100%;
    top: 0;
    position: fixed;
    height: 30px;
    padding: 10px;
    color: #fafafa;
    background-color: #19191b !important;
    display: flex;
    align-items: center;
}
.mensagens{
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #222121;
    overflow-y: auto;
    color: white;
    display: flex;
    flex-direction: column;
}
.header img{
    height: 40px;
    width: 50px;
}
.div-msg-other{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    margin: 5px;
    float: left;
}
.msg-other{
    word-wrap: break-word;
    color: white;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px;
    background: rgb(0, 136, 0);
}
.div-msg-me{
    margin-top: 5px;
    align-self: flex-end;
}
.msg-video{
    border: none;
    border-radius: 20px;
    background-color:rgb(0, 136, 0);
}
.msg-me{
    word-wrap: break-word;
    max-width: 300px;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
    width: auto;
    float: left;
    background-color: rgb(0, 68, 255);
}

#loadChat{
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1000000000;
    height: 100%;
    width: 100%;
    background: black;
}

#loadChat img{
    margin-top: 100px;
    height: 100px;
    width: 140px;
}
/* para  Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: none;
}
    
/* Para on Chrome, Edge, e Safari */
*::-webkit-scrollbar {
    width: 0px;
}
    
*::-webkit-scrollbar-track {
    background: none;
}

*::-webkit-scrollbar-thumb {
    background-color: none;
    border-radius: 0px;
    border: 0px solid none;
}